@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css?family=Lato:300");

$syne-bold-path:"/static/fonts/Syne-Bold.otf";
$font-family-brand:"syne-bold";

@font-face {
    font-family: "syne-bold";
    src: url($syne-bold-path) format("opentype");
    font-weight: normal;
    font-style: normal;
}