.content--hidden {
    display: none;
}

.input--element {
    &:focus {
        outline: none;
    }

    &::placeholder {
        opacity: .3;
        font-size: 20px;
        font-family: 'syne-bold', sans-serif;
    }

    width: 100%;
    font-size: 20px;
}

.home {
    max-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    &-desc {
        max-width: 50%;
        font-size: 1.7rem;
        margin-left: 4rem;
        transform: translateX(-10px);
        font-family: 'Lato', sans-serif;

        &__contact {
            &-email-input {
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                margin-bottom: 20px;
            }

            &-msg-input {
                min-height: 30vh;
            }

            &-btn {
                float: right;
                background: none;
                color: inherit;
                border: 1px solid rgba(0, 0, 0, 0.6);
                padding: 5px;
                font: inherit;
                font-size: 20px;
                cursor: pointer;
                outline: inherit;
                background-size: 200% 100%;
                background-image: linear-gradient(to left, transparent, transparent 50%, #00c6ff 50%, #00c6ff);
                background-position: 100%;
                transition: all .25s ease-in;

                &:hover {
                    background-position: 0 0;
                }
            }
        }
    }
}

.nav {
    &-logo {
        font-size: 4rem;
        align-items: center;
        float: right;
        cursor: pointer;
        color: #000;
        text-decoration: none;

        &__logo {
            padding: 0;
            margin: 0;
            display: inline-block;
        }

        &__dot {
            display: inline-block;
            margin-left: -7px;
        }
    }

    &-items {
        font-family: 'syne-bold', sans-serif;
        display: flex;
        flex-direction: column;
        list-style: none;
        cursor: pointer;
        margin-left: 1.5rem;

        &__item {
            max-width: fit-content;
            font-size: 8rem;
            transition: 1s;

            &:hover {
                transform: translateX(5px);
            }

            &__link {
                text-decoration: none;
                color: black;
                position: relative;

                &::before, &::after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 10px;
                    top: 50%;
                    margin-top: -.5px;
                    background: #000;
                }

                &::before {
                    left: -2.5px;
                    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
                }

                &::after {
                    right: 2.5px;
                    background: #000;
                    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
                }

                &:hover::before {
                    background: #000;
                    width: 100%;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}

@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateX(-5px);
    }

    to {
        opacity: 1;
    }
}
